@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

body {
  color: rgb(17, 24, 39);
  background: rgb(255, 255, 255);
}

::selection {
  background-color: #f97316;
  color: white;
}

::-moz-selection {
  background-color: #f97316;
  color: white;
}

